<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change my password</title>
  </head>
  <body>
    {% if validlink %}
    <h1>Enter new password</h1>
    <p>
      Please enter your new password twice so we can verify you typed it in
      correctly.
    </p>
    <form method="post" action="">
      {% csrf_token %}
      <p>Change your password:</p>
      {{form.new_password1.errors}} {{form.new_password1}}
      <p>Confirm your password:</p>
      {{form.new_password2.errors}} {{form.new_password2}}

      <button type="submit">Change My Password</button>
    </form>
    {% endif %}
  </body>
</html>
